@model UserTag
@{
}

<form asp-action="AddNewTag" method="post">
    <div class="input-group mb-3">
        <input asp-for="Name" type="text" class="form-control" placeholder="Add a Tag" aria-label="AddTag" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </div>
    </div>
</form>

@{ foreach (var tag in ViewBag.tags)
    {

        <div class="btn-group-sm d-inline-flex" role="group" aria-label="Tags">
            <form asp-action="FilterData" method="post">
                <input hidden name="AreChecked" type="checkbox" checked value="@tag.Name" />
                <button type="submit" class="btn btn-sm btn-outline-secondary"
                        style="border-top-right-radius:0; border-bottom-right-radius:0; border-top-left-radius:15px; border-bottom-left-radius:15px">
                    @tag.Name
                </button>
            </form>

            <form asp-action="DeleteTag" asp-route-id=@tag.Id>
                <button type="submit" class="btn btn-sm btn-danger" title="delete @tag.Name"
                        style="border-top-left-radius:0; border-bottom-left-radius:0;  border-top-right-radius:15px; border-bottom-right-radius:15px">
                    🗙
                </button>
            </form>
        </div>
    }}

<p></p>
<hr />

<div>
    <table class="table table-striped">
        <tbody>
            @foreach (var user in ViewBag.users)
            {
                <tr>
                    <td width="50px"><a href=@string.Format("https://twitter.com/{0}", user.Name)><img style="border-radius: 50%" src=@user.ProfileImageUrl alt="Avatar"></a> </td>
                    <td>
                        <b>@user.DisplayName</b><br />
                        <a href=@string.Format("https://twitter.com/{0}", user.Name)> @@@user.Name</a>
                    </td>

                    <td>
                        <form asp-action="UnassignTagFromUser" method="post">
                            <input hidden name="UserID" value=@user.Id class="form-control" />
                            <div class="btn-group" role="group" aria-label="Basic example">
                                @foreach (var usertag in user.Tags)
                                {
                                    <button name="TagName" value="@usertag.Name" type="submit" title="Unassign @usertag.Name from @user.Name" class="btn btn-outline-danger btn-sm">@usertag.Name</button>
                                }
                            </div>
                        </form>
                    </td>

                    <td>
                        <form asp-action="AssignTagToUser" method="post">
                            <div class="input-group">
                                <input hidden name="Name" value=@user.Name class="form-control" />
                                <select name="NewTag" class="custom-select" id="inputGroupSelect04">
                                    <option selected>Assign a tag</option>
                                    @{ foreach (var tag in ViewBag.tags)
                                            if (!user.Tags.Contains(tag))
                                            {
                                                {
                                                    <option value="@tag.Id">@tag.Name</option>
                                                }
                                            }}
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
    </table>
</div>